* {
   box-sizing: border-box;
}
html {
   font-family: Verdana;
   color: #555;
   font-size: 16px;
}
body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.header {
   color: white;
   text-align: center;
   background-image: linear-gradient(60deg, red, orange);
   
}
.main {
   display: flex;
   flex: 1 0 auto;
}
.wrapper {
   display: flex;
   width: 80%;
}
.footer {
   background-color: #e5e5e5;
   padding: 0.5em;
   text-align: center;
   flex: 0 0 auto;
}
.navigation {
   padding: 0.5em;
   width: 20%;
   
}
.section {
   padding: 0.5em;
   width: 60%;
   font-size: 1.25em;
  
}
.news {
   padding: 0.5em;
   width: 20%;
}
.units-list {
   line-height: 1.75em;
}
.css-units {
   color: #8b0000;
   background-color: #e5e5e5;
   font-size: 1.125em;
   font-weight: 700;
}
.section__header {
   text-align: center;
   font-size: 5vw;
}
.nav-list {
   padding: 0;
   list-style-type: none;
}
.nav-list-item {
   list-style-type: none;
   background-color: #808080;
   height: 2em;
   line-height: 2em;
   color: white;
   margin-bottom: 0.5em;
   
   
}
.nav-list-link {
   width: 100%;
   display: inline-block;
   padding-left: 0.5em;
   padding-right: 0.5em;
   color: white;
   text-decoration: none;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
img {
   max-width: 100%;
   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
picture {
   margin: auto;
}
@media screen and (max-width: 599px) {
   main {
      display: flex; 
      flex-direction: column;  
   }
   .navigation, .section, .news {
      width: 100%;
   }
}
/*@media screen and (min-width: 600px) and (max-width: 1199px) {
   main {
      display: flex;
      flex-direction: column;
   }
   .wrapper {
      display: flex; 
      
   }
   .navigation {
      width: 20%;
   }
   .section {
      width: 80%;
   }
   .news {
      width: 100%;
   }
}*/
